.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header h1 {
    font-size: 3.7rem;
    margin-bottom: 10px;
    font-weight: 700;
}

.header h2 {
    font-size: 1.5rem;
}

.customNav {
    align-self: flex-end;
    margin: 0 20px;
    position: relative;
    transform: translate(-100px, -10px);
    background-color: #dad7cd !important;
}

.nav-link {
    font-size: 1.3rem;
    display: inline-block;
    margin: 0 10px;
    padding: 6px;
}

.nav-link:hover{
    background-color: #a6a397;
    border-radius: 5px;
}

